*{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 10px;
    background-color: rgb(249, 249, 249);
}
.card{
    width:200px;
    background-color: white;
    /* border:1px solid black; */
    vertical-align: top;
    border-radius: 10px;
    display:inline-block;
    overflow: hidden;
    margin-right:20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
    
}
.card-body{
    padding:15px;
}
.card-title{
    margin-top:0;
    font-size: 18px;
    font-weight:bold;
}
.card-paragraph{
    margin-bottom: 0;
    color:#a29e9e;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.card-image{
    width:100%;
    display:block;
   
}
.card-icon{
    margin:30px;
}
.add-to-cart{
    width:40px;
    height: 40px;
    background-color: black;
    color:white;
    border:none;
    border-radius: 50%;
    display: block;
    margin-left:auto;
    margin-top:-20px;
    position:relative;
    margin-right:15px;
}
.see-more{
    width:150px;
    height:30px;
    background-color: black;
    color:white;
    border:0;
    border-radius:10px;
    display:block;
    margin:auto;
    margin-bottom:-20px;
}